@import "normalize.scss" ;  //清除浏览器样式
@import "icon.scss" ;  //清除浏览器样式
@import "antdesignvue.scss";
//color
.color-white{
    color: white;
}

//font-size
.fs-12{
    font-size: 12px;
}
//text-align
.text-center{
    text-align: center;
}

//float
.float-right{float: right;}

.float-left{float: left;}

//margin
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}

//padding
.pt-30 {padding-top: 30px;}
.layout-1{
    position: relative;
    top: 26px;
    left:0;
    bottom: 0;
    right: 0;
}


//line
.line{position: relative; border-bottom: 2px solid #f7f9f9;}

//width
.w-200{width: 200px;}

.tl-center{text-align: center;}